<h1>Top 15 Hacker News Stories</h1>

<form action="/search" method="get">
  <input type="text" name="keyword" placeholder="Buscar histórias">
  <button type="submit">Buscar</button>
</form>

<ul>
  <% @stories.each do |story| %>
    <li>
      <a href="<%= story[:url] %>"><%= story[:title] %></a>
      <ul>
        <% story[:comments].each do |comment| %>
          <li><%= comment['text'] %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
