<h1>Resultado da busca por '<%= @keyword %>'</h1>

<ul>
  <% @stories.each do |story| %>
    <li>
      <a href="<%= story['url'] %>"><%= story['title'] %></a>
    </li>
  <% end %>
</ul>

<div class="d-flex justify-content-center">
  <%= paginate @stories %>
</div>

